.canvas {
  background-color: #FFBE79;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #374151;
  color: #FFBE79;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #FFBE79;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #FFBE79;
  color: #374151;
  transition: all 0.5s;
}

.active {
  background: #FFBE79;
  color: #374151;
}

.icon,
.link_text {
  font-size: 20px;
}